<h1>Stupid Coaching</h1>

<form action="/answer" method="get" data-turbo="false">
  <div>
    <label for="question">What's your question?</label>
    <input type="text" name="question" id="question">
  </div>

  <div>
    <input type="submit" value="Ask!">
  </div>
</form>
